<td width="60%">
    <table width="100%">
        <tr>
            <td class="pictures" align="center">
                <table id="gallery">
                    <tr>
                        <% @concert['images'].each do |i| %>
                            <td>
                             <a href="<%= i['location'] %>">
                                 <img src="<%= i['thumb_location'] %>"/>
                             </a>
                            </td>
                        <% end %>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" class="concertTitle"><%= @concert['title'] %></td>
        </tr>

        <% if @concert['sub_title'] != nil %>
            <tr>
                <td align="center" class="concertSubTitle"><%= @concert['sub_title'] %></td>
            </tr>
        <% end %>
               

        <% if @concert['long_date'] != nil %>
            <tr><td class="concertInfo">
            <%= @concert['long_date'] %>
            </td></tr>
        <% end %>

        <% if @concert['venue_name'] != nil %>
            <tr><td class="concertInfo">
            <%= @concert['htm_venue_name'] %>
            </td></tr>
        <% end %>

        <% if @concert['pricing'] != nil %>
            <tr><td class="concertInfo">
            <%= @concert['pricing'] %>
            </td></tr>
        <% end %>

        <% if @concert['description'] != nil %>
            <tr><td class="concertDescription">
            <%= @concert['description'] %>
            </td></tr>
        <% end %>

        <tr>
            <td class="maintext">

               <% if @concert['programme'].count > 0 %>
                   <p align="center" class="concertTitle">Programme</p>
                   <ul>
                   <% @concert['programme'].each do |pr| %>

                       <% if pr['is_interval'] == 't' %>
                           <li class="programmeInterval">
                       <% elsif pr['is_heading'] == 't' %>
                           <li class="programmeHeading">
                       <% else %>
                           <li class="programme">
                       <% end %>

                       <%= pr['htm_description'] %></li>

                       <% if pr['parts'] %>
                           <ul>
                               <% pr['parts'].each do |pp| %>
                                   <li class="programmePart"><%= pp['description'] %></li>
                               <% end %>
                           </ul>
                       <% end %>

                   <% end %>
                   </ul>
               <% end %>
           </td>
       </tr>
    </table>
</td>
