            <td width="60%">
                <table width="100%">
                    <tr>
                        <td class="pictures" align="center">
                            <table width="100%">
                                <tr>
                                        <img src="/images/site/choir1_small.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="maintext">
                            <form method="post">
                            <table width="100%">
                                <tr>
                                    <td colspan="2">
                                        If you have any further questions about the choir, please leave us a message here.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="error" align="center"><%= flash[:error] %></td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">
                                        Your name:
                                    </td>
                                    <td align="left">
                                        <input type="text" name="name" size="30" maxlength="50"
                                        value="<%= flash[:name] %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">
                                        Your email address:
                                    </td>
                                    <td align="left">
                                        <input type="text" name="email_address" size="50" maxlength="100"
                                        value="<%= flash[:email_address] %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">
                                        Subject:
                                    </td>
                                    <td align="left">
                                        <input type="text" name="subject" size="60" maxlength="100"
                                        value="<%= flash[:subject] %>" />
                                        </input>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right" valign="top">
                                        Message: 
                                    </td>
                                    <td align="left">
                                        <textarea name="message" rows="10" cols="60"><%= flash[:message] %></textarea>
                                    </td>
                                </tr>
                                <% if @use_recaptcha %>
                                <tr>
                                    <td align="right" valign="top">
                                        Please verify by typing the text shown:
                                    </td>
                                    <td align="left">
                                        <%= recaptcha_tags %>
                                    </td>
                                <tr>
                                <% end %>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="Send"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        </td>
                    </tr>
                </table>
            </td>
