            <td width="60%">
                <table width="100%">
                    <tr>
                        <td class="pictures" align="center">
                            <table width="100%" id="gallery">
                                <tr>
                                    <td>
                                        <a href="/images/choir3.jpg"><img src="/images/choir3_small.jpg" /></a>
                                    </td>
                                    <% if !@is_mobile %>
                                    <td>
                                        <a href="/images/choir4.jpg"><img src="/images/choir4_small.jpg" /></a>
                                    </td>
                                    <% end %>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <% if @news_flash != nil %>
                        <tr>
                            <td class="newsFlash">
                                <%= @news_flash %>
                            </td>
                        </tr>
                    <% end %>

                    <tr>
                        <td class="maintext">
                        <%= @home_text %>

                        <% if @next_rehearsals.count > 0 %>
                            <% if DateTime.parse(@next_rehearsals[0]['rs_date_time']) <= DateTime.now + 14 %>
                                <% if @next_concerts.count > 0 %>
                                   <p> At the moment we are rehearsing for our 
                                    <% @next_concert_performed = DateTime.parse(@next_concerts[0]['performed']) %>
                                    <%=
                                            "<a href=\"/concerts/#{@next_concerts[0]['concert_id']}\">" + 
                                            "#{@next_concerts[0]['title']}</a>" +
                                            ((@next_concerts[0]['title'] =~ /\bconcert\b/i) == nil ? ' concert' : '') +
                                            ", which takes place on " +
                                            @next_concert_performed.strftime('%A, %d %B %Y') 
                                    %>

                                    <% if @next_concert_performed.hour > 0 %>
                                        <%= @next_concert_performed.strftime(' at %l:%M %P') %>
                                    <% end %>
                                    <%= '.' %>

                                <% end %>
                            <% end %>
                        <% end %>

                    </td>
                    </tr>
                </table>
            </td>
